six==1.10.0
django-import-export==2.5.0
django==3.2.5
social-auth-app-django==4.0.0
social-auth-core==3.3.0
mock==2.0.0
coverage>=4.4.1
celery==4.4.7
flower==0.9.7
pyyaml==5.4
kombu==4.6.11
python-memcached==1.59
djangorestframework==3.11.2
django-filter==1.1.0
elasticsearch==6.2.0
mysqlclient==2.0.3
natsort==5.3.3
python-ldap==3.3.1
gunicorn==20.0.4
whitenoise==5.2.0
requests==2.20.0
uritemplate==3.0.1
drf_spectacular==0.17.3
django-replicated==2.7
