celery==5.2.2
django-configurations==2.3.2
django-debug-toolbar==3.2.4
django-filter==2.4.0
django-import-export==2.5.0
django-replicated==2.7
# django-simple-history==3.2.0
django==3.2.16
djangorestframework==3.11.2
drf_spectacular==0.17.3
elasticsearch==7.17.6
flower==1.2.0
gunicorn==20.0.4
kombu==5.2.2
mock==2.0.0
mysqlclient==2.0.3
natsort==5.3.3
python-ldap==3.4.0
python3-SAML==1.12.0
pyyaml==5.4
requests==2.20.0
six==1.10.0
social-auth-app-django==4.0.0
social-auth-core==3.3.0
uritemplate==3.0.1
whitenoise==5.2.0
