<html>
  {% if '/new-ui/' not in next %}
  <body>
    <h2>Login</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Login</button>
      {% if request.GET.next %}
        <input name="next" type="hidden" value="{{ request.GET.next }}"></input>
      {% endif %}
    </form>
    <p>If you forget your password, you can <a href="{% url 'user:password_reset' %}">Reset Password</a>.</p>
    <!-- custom script -->
    {% include 'custom_view/custom_script.html' %}
  </body>
  {% else %}
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <title>AirOne(NewUI)</title>
  </head>
  <body style="margin: 0px">
    <div id="app" class="columns"><!-- React --></div>
    <script type="text/javascript">
      window.django_context = {
          next: "{{next}}",
          title: "{{title}}",
          subtitle: "{{subtitle}}",
          note_desc: "{{note_desc}}",
          note_link: "{{note_link}}",
      };
    </script>
    <script src="/static/js/new-ui.js"></script>
  </body>
  {% endif %}
</html>
