<html>
  <body>
    <h2>Login</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Login</button>
      {% if request.GET.next %}
        <input name="next" type="hidden" value="{{ request.GET.next }}"></input>
      {% endif %}
    </form>
    <p>
      <a href="{% url 'social:begin' 'google-oauth2' %}">Google OAuth</a>
    </p>
    <p>
      If you forget your password, you can <a href="{% url 'user:password_reset' %}">Reset Password</a>.
    </p>
    <p>
      <a href="{% url 'index' %}">戻る</a>
    </p>
  </body>
</html>
