<html>
  {% csrf_token %}
  {% if '/ui/' not in next %}
  <head>
    <!-- custom script head -->
    {% include 'custom_view/custom_script_head.html' %}
  </head>
  <body>
    <!-- custom script body -->
    {% include 'custom_view/custom_script_body.html' %}
    <h2>Login</h2>
    {% if idp %}
    <br>
    <a class="button" href="{% url 'social:begin' 'saml' %}?idp={{ idp }}&next={{ next }}">{{ sso_desc }}</a>
    <hr width="500" align="left">
    <br>
    {% endif %}
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Login</button>
      {% if request.GET.next %}
        <input name="next" type="hidden" value="{{ request.GET.next }}"></input>
      {% endif %}
    </form>
    {% if password_reset_disabled %}
    <s><p>If you forget your password, you can Reset Password. {{ password_reset_disabled }}</p></s>
    {% else %}
      <p>If you forget your password, you can <a href="{% url 'user:password_reset' %}">Reset Password</a>.</p>
    {% endif %}
  </body>
  {% else %}
  <head>
    <!-- custom script head -->
    {% include 'custom_view/custom_script_head.html' %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap" />
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <title>{{ airone.TITLE }}</title>
  </head>
  <body style="margin: 0px">
    <!-- custom script body -->
    {% include 'custom_view/custom_script_body.html' %}
    <div id="app" class="columns"><!-- React --></div>
    <script type="text/javascript">
      window.django_context = {
          next: "{{next}}",
          title: "{{title}}",
          subtitle: "{{subtitle}}",
          note_desc: "{{note_desc}}",
          note_link: "{{note_link}}",
          {% if idp %}
          singleSignOnLoginUrl: "{% url 'social:begin' 'saml' %}?idp={{ idp }}&next={{ next }}",
          {% endif %}
          password_reset_disabled: {{password_reset_disabled|yesno:"true,false"}},
      };
    </script>
    <script src="/static/js/ui.js"></script>
  </body>
  {% endif %}
</html>
