{{- if .Values.rollout.enabled -}}
apiVersion: v1
kind: Service
metadata:
  name: airone-preview
  labels:
    {{- include "airone.labels" . | nindent 4 }}
spec:
  selector:
    app: gunicorn
  ports:
  - name: http
    protocol: TCP
    port: 8080
    targetPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: celery
  labels:
    {{- include "airone.labels" . | nindent 4 }}
spec:
  selector:
    app: celery
  ports: []
  clusterIP: None
---
{{- end }}
apiVersion: v1
kind: Service
metadata:
  name: airone
  labels:
    {{- include "airone.labels" . | nindent 4 }}
spec:
  selector:
    app: gunicorn
  ports:
  - name: http
    protocol: TCP
    port: 8080
    targetPort: 8080
