{% include 'list_entry/nav_page.html'%}

{% load bitwise_tags %}
<div class="row">
  <div class="col">
    {% csrf_token %}
    <form method='get'>
      <input name="keyword" type='text' value="{{ keyword | default:"" }}" placeholder='絞り込む'/>
      <input name="page" type="hidden" value="1" />
      <input name="sort_order" type="hidden" value="{{ sort_order }}" />
    </form>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>
            <div class="dropdown" id='list_sort_order'>
              エントリ名
              <img src="/static/images/allow_down.png"
                   id="showOrderMenu"
                   data-toggle="dropdown"/>
              <div class="dropdown-menu" aria-labelledby="showOrderMenu">
                <a class="dropdown-item {{config.entry.SORT_ORDER.name}}" href="/entry/{{ entity.id }}/?sort_order={{ config.entry.SORT_ORDER.name }}">エントリ名</a>
                <a class="dropdown-item {{ config.entry.SORT_ORDER.name_reverse }}" href="/entry/{{ entity.id }}/?sort_order={{ config.entry.SORT_ORDER.name_reverse }}">エントリ名(逆順)</a>
                <a class="dropdown-item {{ config.entry.SORT_ORDER.time }}" href="/entry/{{ entity.id }}/?sort_order={{ config.entry.SORT_ORDER.time }}">更新日時</a>
                <a class="dropdown-item {{ config.entry.SORT_ORDER.time_reverse }}" href="/entry/{{ entity.id }}/?sort_order={{ config.entry.SORT_ORDER.time_reverse }}">更新日時(逆順)</a>
              </div>
            </div>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody id='entry_container'>
        {% for entry in page_obj %}

        <tr entry_id="{{ entry.id }}">
          {% if entry.status|bitwise_and:STATUS_ENTRY.CREATING %}
            <td>{{ entry.name }} [作成中]</td>
          {% elif entry.status|bitwise_and:STATUS_ENTRY.EDITING %}
            <td><a href='/entry/show/{{ entry.id }}/'>{{ entry.name }} [編集中]</a></td>
          {% else %}
            <td><a href='/entry/show/{{ entry.id }}/'>{{ entry.name }}</a></td>
          {% endif %}

          <td><button name="button_delete" type="button" class="btn btn-danger btn-sm del-item" url="/entry/do_delete/{{ entry.id }}/">del</button></td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% block head %}
<style type="text/css"><!--
.dropdown-item-checked::before {
  position: absolute;
  left: .4rem;
  content: '✓';
  font-weight: 600;
}
--></style>
{% endblock %}
