<div class="row">
    <div class="col">
        <div class="float-left">
            <h5 id='entry_count'> {{ page_obj | length }} / {{ page_obj.paginator.count }} エントリ</h5>
            <form method='get'>
                <input name="keyword" type='text' value="{{ keyword | default:"" }}" placeholder='絞り込む'/>
                <input name="page" type="hidden" value="1" />
            </form>
        </div>
    </div>

    <div class="col">
        <div class="float-right">
            <nav aria-label="Page navigator">
                {{ page_obj.start_index | default:"0" }} - {{ page_obj.end_index | default:"0" }} / {{ page_obj.paginator.count }}

                {% if page_obj.has_previous %}
                    <button type="button" class="btn btn-sm btn-primary" onclick="location.href='?page={{ page_obj.previous_page_number }}'">＜</button>
                {% else %}
                    <button type="button" class="btn btn-sm btn-primary" disabled>＜</button>
                {% endif %}

                {% if page_obj.has_next %}
                    <button type="button" class="btn btn-sm btn-primary" onclick="location.href='?page={{ page_obj.next_page_number }}'">＞</button>
                {% else %}
                    <button type="button" class="btn btn-sm btn-primary" disabled>＞</button>
                {% endif %}
            </nav>
        </div>
    </div>
</div>
