<div class="row">
    <div class="col">
        <div class="float-left">
            <h5 id='entry_count'> {{ page_obj | length }} / {{ total_count }} エントリ</h5>
            <input id='narrow_down_entries' text='text' placeholder='絞り込む'/>
            <p></p>
        </div>
    </div>

    <div class="col">
        <div class="float-right">
            <nav aria-label="Page navigator">
                {{ page_obj.start_index }} - {{ page_obj.end_index }} / {{ total_count }}

                {% if page_obj.has_previous %}
                    <button type="button" class="btn btn-sm btn-primary" onclick="location.href='?page={{ page_obj.previous_page_number }}'">＜</button>
                {% else %}
                    <button type="button" class="btn btn-sm btn-primary" disabled>＜</button>
                {% endif %}

                {% if page_obj.has_next %}
                    <button type="button" class="btn btn-sm btn-primary" onclick="location.href='?page={{ page_obj.next_page_number }}'">＞</button>
                {% else %}
                    <button type="button" class="btn btn-sm btn-primary" disabled>＞</button>
                {% endif %}
            </nav>
        </div>
    </div>
</div>
