{% load bitwise_tags %}
<form id="edit-form" name="edit-form" url='{{ form_url }}' method='post'>
  <div class='row'>
    <div class="col">
      <div class="float-right">
        <input type="button" class="btn btn-primary" id="submit-button" value="保存" />
      </div>
      <table class="table table-bordered">
        <tr>
          <td>エントリ名</td>
          <td>
            <input type="text" class="form-control" name="entry_name" pattern="^(?!\s*$).+" title="有効なエントリ名(空白のみは不許可)" value="{{ entry.name }}" required />
          {% if entry.is_deleted %}
            [削除済]
          {% elif entry.status|bitwise_and:STATUS_ENTRY.EDITING %}
            [編集中]
          {% endif %}
          </td>
        </tr>
      </table>
    </div>
  </div>

  <table class="table table-bordered">
    <thead>
      <th>属性</th>
      <th>属性値</th>
      {% if is_edit %}
        <th></th>
      {% endif %}
    </thead>
    <tbody>
      {% include 'edit_entry/attrs.html' with is_edit=is_edit%}
    </tbody>
  </table>

  <button id="back-to-top" class="btn btn-secondary" style="position: fixed; right: 5px; bottom: 5px; display: none; opacity: 0.8;">
    <i class="icon-arrow-up"></i>↑
  </button>

  <strong>(*)</strong> は必須項目
  {% csrf_token %}
</form>
