<div class='row'>
  <div class='col'>
    <table class="table table-bordered airone-entry-table-show table-striped">
      {% for attr in attributes %}
      <tr>
        <td class='attr'>{{ attr.name }}</td>
        <td>
        {% if attr.type == attr_type.string %}
          <span class='url_conv'>{{ attr.last_value }}</span>
        {% elif attr.type == attr_type.textarea %}
          <span class='url_conv textarea'>{{ attr.last_value }}</span>
        {% elif attr.type == attr_type.date %}
          <span>{{ attr.last_value|date:"Y-m-d" }}</span>
        {% elif attr.type == attr_type.entry and attr.last_value %}
          <a href='/entry/show/{{ attr.last_value.id }}'>{{ attr.last_value.name }}</a>{% if attr.last_value.deleted %}(deleted){% endif %}
        {% elif attr.type == attr_type.array_string %}
          <ul class='list-group'>
          {% for value in attr.last_value %}
            <li class='list-group-item'>{{ value }}</li>
          {% endfor %}
          </ul>
        {% elif attr.type == attr_type.array_entry %}
          <ul class='list-group'>
          {% for refer in attr.last_value %}
            <li class='list-group-item'>
              <a href='/entry/show/{{ refer.id }}'>
                {{ refer.name }}
              </a>
              {% if refer.deleted %}(deleted){% endif %}
            </li>
          {% endfor %}
          </ul>
        {% elif attr.type == attr_type.boolean %}
          {% if attr.last_value %}
          <input type="checkbox" disabled='True' checked='True'/>
          {% else %}
          <input type="checkbox" disabled='True' />
          {% endif %}

        {% elif attr.type == attr_type.named_entry %}
          <div class='row'>
            <div class='col-3'>
              <span class='url_conv'>{{ attr.last_value.value }}</span>
            </div>
            <div class='col-9'>
              {% if attr.last_value.id %}
              <a href='/entry/show/{{ attr.last_value.id }}'>{{ attr.last_value.name }}</a>{% if attr.last_value.deleted %}(deleted){% endif %}
              {% endif %}
            </div>
          </div>

        {% elif attr.type == attr_type.array_named_entry %}
          <ul class='list-group'>
          {% for data in attr.last_value %}
            <li class='list-group-item'>
              <div class='row'>
                <div class='col-3'>
                  <span class='url_conv'>{{ data.value }}</span>
                </div>
                <div class='col-9'>
                  <a href='/entry/show/{{ data.id }}'>{{ data.name }}</a>
                </div>
              </div>
            </li>
          {% endfor %}
          </ul>

        {% elif attr.type == attr_type.group %}
          <a href='/group'>{{ attr.last_value.name }}</a>

        {% elif attr.type == attr_type.array_group %}
          <ul class='list-group'>
          {% for group in attr.last_value %}
            <li class='list-group-item'>
              <a href='/group/'>
                {{ group.name }}
              </a>
            </li>
          {% endfor %}
          </ul>

        {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
