{% extends 'base.html' %}

{% block title %}List Users{% endblock %}

{% block nav_sub_header %}
<div class="conatiner-fluid">
  <ul class="breadcrumb airone-breadcrumb">
    <li class="breadcrumb-item"><a href="/">TOP</a></li>
    <li class="breadcrumb-item">ロール管理</li>
  </ul>
</div>
{% endblock %}

{% block content %}
{% csrf_token %}
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="float-left">
        <button name="button_new" type="button" class="btn btn-primary" onclick="location.href='/role/create'">新規作成</button>
        <button id="delete_role" type="button" class="btn btn-danger">削除</button>
      </div>
    </div>
  </div>

  <table class='table table-sm'>
    <thead>
      <th scope='col'></th>
      <th scope='col'>名前</th>
      <th scope='col'>備考</th>
      <th scope='col'>登録ユーザ・グループ</th>
    <thead>
    <tbody>
      {% for role in roles %}
      <tr>
        <td class='select'>
          <input class="role_select" type="checkbox"
                 role_id="{{ role.id }}" role_name="{{ role.name }}" />
        </td>

        <!-- Role name -->
        <td class='name'>
          <a href='/role/edit/{{ role.id }}'>{{ role.name }}</a>
        </td>

        <!-- Role description -->
        <td class='desc'>
          <span data-toggle="tooltip" data-placement="top" title="{{ role.description }}">{{ role.description|truncatechars:15 }}</span>
        </td>

        <!-- Registered Users and Groups -->
        <td class='members'>
          <ul class="list-group list-group-flush">
            {% for member_name, member_info in role.users.items %}
              {% if member_info.is_admin %}
                <li class="d-flex justify-content-between align-items-center list-group-item-primary">
                  (user) {{ member_name }}
                  <span class="badge bg-primary rounded-pill">管理者</span>
                </li>
              {% else %}
                <li class="d-flex justify-content-between align-items-center">
                  (user) {{ member_name }}
                </li>
              {% endif %}
            {% endfor %}
            {% for member_name, member_info in role.groups.items %}
              {% if member_info.is_admin %}
                <li class="d-flex justify-content-between align-items-center list-group-item-primary">
                  (group) {{ member_name }}
                  <span class="badge bg-primary rounded-pill">管理者</span>
                </li>
              {% else %}
                <li class="d-flex justify-content-between align-items-center">
                  (group) {{ member_name }}
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </td>

      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block script %}
<script>
$('#delete_role').on('click', function(e) {
  if(window.confirm('Are you all right to delete selected Role?')) {
    $('.role_select:checked').each((i, elem) => {
      const role_id = $(elem).attr('role_id');
      const role_name = $(elem).attr('role_name');

      $.ajax({
        type: 'DELETE',
        url: `/role/api/v1/${ role_id }/`,
      }).done(function(resp) {
        MessageBox.setNextOnLoadMessage(MessageBox.SUCCESS,
                                        `Succeeded in deleting Role(${ role_name })`);
      }).fail(function(resp) {
        MessageBox.setNextOnLoadMessage(MessageBox.ERROR, resp.responseText);
      });
    });

    // Refresh page after completing to reiceve responses,
    // which are correspond of all deleting requests
    $(document).ajaxComplete(function(event, request, settings) {
      location.href = '/role/';
    });
  }
});

$(document).ready(function() {
  $('.del-item').on('click', confirm_delete_table_item);

  // initialize tooltips
  $(function () {
      $('[data-toggle="tooltip"]').tooltip()
  })
});
</script>
{% endblock %}
