<div class="form-row item_form">
  <div class="form-group col-md-5">
    <label class="col-form-label">{{ list_label }}</label>
    <select id="group" class="form-control list_items" size="15">
      {% if is_user %}
        {% for user in users %}
          <option value='{{ user.id }}'>{{ user.username }}</option>
        {% endfor %}
      {% else %}
        {% for group in groups %}
          <option value='{{ group.id }}'>{{ group.name }}</option>
        {% endfor %}
      {% endif %}
    </select>
  </div>
  <div class="form-group col-md-1">
    <table style="height: 120%; margin:0 auto;">
      <tr>
        <td class="align-middle"><button type="button" class="align-middle form-control btn btn-secondary btn-sm delete_item">＜</button></td>
        <td class="align-middle"><button type="button" class="align-middle form-control btn btn-primary btn-sm append_item">＞</button></td>
      </tr>
    </table>
  </div>
  <div class="form-group col-md-5">
    <label class="col-form-label">{{ registered_label }}</label>
    <select multiple="on" name="{{ form_name }}" class="form-control selected_items" size="15">
      {% if is_user %}
        {% for user in registered_users %}
          <option value='{{ user.id }}'>{{ user.username }}</option>
        {% endfor %}
      {% else %}
        {% for group in registered_groups %}
          <option value='{{ group.id }}'>{{ group.name }}</option>
        {% endfor %}
      {% endif  %}
    </select>
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-5">
    <input type="text" class="form-control" id="search_user" placeholder="ユーザ検索" />
  </div>
  <div class="form-group col-md-4">
  </div>
</div>
