<div class='config_role members'>
  <div class="toggle">
    <h6 href='#{{ collapse_id }}' class='collapse_title {{ collapse_id }}' data-toggle='collapse' aria-expanded="false">
      {{ collapse_title }}
    </h6>
  </div>

  {% if is_open %}
  <div class='collapse show' id='{{ collapse_id }}'>
  {% else %}
  <div class='collapse' id='{{ collapse_id }}'>
  {% endif %}
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Filter</span>
      </div>
      <input type="text" class="form-control filter">
    </div>


    <table class="table table-sm">
      <thead>
        <th scope='col'></th>
        <th scope='col'>名前</th>
        <th scope='col'>タイプ</th>
      </thead>
      <tbody />
    </table>

  </div>
</div>
