{% extends 'base.html' %}

{% block title %}Top Page{% endblock %}

{% block nav_sub_header %}
<div class="conatiner-fluid">
  <ul class="breadcrumb airone-breadcrumb">
    <li class="breadcrumb-item">TOP</li>
  </ul>
</div>
{% endblock %}

{% block content %}
<style type="text/css">
<!--
tr:nth-child(even){
      background:#F2F2F2;
}
-->
</style>

<div class="container">
  <div class="row">
    <div class="col">
      <p><a class="btn btn-secondary" href="/entity" role="button">エンティティ・エントリ一覧 &#x000bb;</a></p>
    </div>
    <div class="col">
      <p><a class="btn btn-secondary" href="/dashboard/advanced_search" role="button">高度な検索 &#x000bb;</a></p>
    </div>
    <div class="col">
      <p><a class="btn btn-secondary" href="/user" role="button">ユーザ管理 &#x000bb;</a></p>
    </div>
    <div class="col">
      <p><a class="btn btn-secondary" href="/group" role="button">グループ管理 &#x000bb;</a></p>
    </div>
  </div>
  {% if last_entries %}
  <div class="row">
    <div class="col">
      <hr/>
      <h2>変更履歴</h2>
      <table class='table'>
        <thead>
          <tr>
            <th>エンティティ</th>
            <th>エントリ</th>
            <th>更新属性</th>
            <th>更新ユーザ</th>
            <th>更新時刻</th>
          </tr>
        </thead>
        <tbody>
          {% for elem in last_entries %}
          <tr>
            <td>{{ elem.entity.name }}</td>
            <td><a href='/entry/show/{{ elem.entry.id }}'>{{ elem.entry.name }}</td>
            <td>{{ elem.attr_type.name }}</td>
            <td>{{ elem.attr_value.created_user }}</td>
            <td>{{ elem.attr_value.created_time }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
