{% extends 'base.html' %}

{% block title %}Edit Entity{% endblock %}

{% block nav_sub_header %}
{% with "edit_entity" as path %}
{% include 'navigation.html' %}
{% endwith %}
{% endblock %}

{% block content %}
<div class="container-fluid">
  {% include 'entity_edit_tab.html' with tab='edit' %}
</div>

<form id="edit-form" name="edit-form" url="/entity/do_edit/{{ entity.id }}" method="post">
  {% include 'edit_entity_content.html' %}
</form>
{% endblock %}

{% block script %}
<script src="/static/js/entity.js"></script>
{% endblock %}
