{% extends 'base.html' %}

{% block title %}Edit User{% endblock %}

{% block nav_sub_header %}
<div class="conatiner-fluid">
  <ul class="breadcrumb airone-breadcrumb">
    <li class="breadcrumb-item"><a href="/">TOP</a></li>
    <li class="breadcrumb-item"><a href="/user">ユーザ管理</a></li>
    <li class="breadcrumb-item">ユーザ編集</li>
  </ul>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h2>ユーザ編集</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>パスワードの変更は <a href="/user/edit_passwd/{{ user_id }}">こちら</a> から可能です</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form id="edit-form" name="edit-form" url="/user/do_edit/{{ user_id }}" method='post'>

        <!-- Top navigation buttons-->
        <p><input type="submit" class="btn btn-primary align-right" value='保存'/></p>

        <table class="table table-bordered" id='user_params'>
          {% if user.is_superuser %}
          <tr id='name'>
            <th>名前</th>
            <td><input class='form-control' type="text" name="name" value="{{ user_name }}" required="required" /><br/></td>
          </tr>
          <tr id='mail'>
            <th>メールアドレス</th>
            <td><input class='form-control' type="email" name="email" value="{{ user_email }}" required="required" /><br/></td>
          </tr>
          <tr id='superuser'>
            <th>管理者権限を付与</th>
            {% if user_is_superuser %}
            <td><input type="checkbox" name="is_superuser" value="{{ user_is_superuser }}" checked="checked" /><br/></td>
            {% else %}
            <td><input type="checkbox" name="is_superuser" value="{{ user_is_superuser }}" /><br/></td>
            {% endif %}
          </tr>

          {% else %}
          <!-- The case who doens't have the priviledged level permission-->
          <tr id='name'>
            <th>名前</th>
            <td>{{ user_name }}</td>
            <input type='hidden' name='name' value='{{ user_name }}' />
          </tr>
          <tr id='mail'>
            <th>メールアドレス</th>
            <td>{{ user_email }}</td>
            <input type='hidden' name='email' value='{{ user_email }}' />
          </tr>
          {% endif %}

          {% if user.id == user_id %}
          <tr id='token'>
            <th>AccessToken</th>
            <td>
              {% if token %}
                <p id='access_token'>{{ token }}</p>
              {% else %}
                <p id='access_token'>トークンが発行されていません。Refreshボタンを押して発行してください。</p>
              {% endif %}
              <button type='button' id='refresh_token' class='btn btn-primary btn-sm'>Refresh</button>
            </td>
          </tr>
          {% endif %}
          <tr id='lifetime'>
            <th>AccessToken の有効期間 [sec]</th>
            <td>
              <p>
                <input type="text" name="token_lifetime" value="{{ token_lifetime }}" />
                (0 ~ 10^8 の範囲の整数を指定してください(0 を入力した場合は期限は無期限になります))
              </p>
              {% if token_created %}
                <div id='token_created'>作成日：{{ token_created }}</div>
              {% else %}
                <div id='token_created'>作成日：-</div>
              {% endif %}
              {% if token_expire and token_lifetime == 0 %}
                <div id='token_expire'>有効期限：無期限</div>
              {% elif token_expire and token_lifetime %}
                <div id='token_expire'>有効期限：{{ token_expire }}</div>
              {% else %}
                <div id='token_expire'>有効期限：-</div>
              {% endif %}
            </td>
          </tr>

          <!--
            This is an optional setting to be able to switch the way to authenticate user with LDAP
            from local one. This column is shown when login user authentication type is local one.
          -->
          <tr id='auth'>
            <th>
              <p>認証方法</p>
            </th>
            <td>
            {% if is_authenticated_by_local %}
              <p>ローカル認証</p>
              {% if user.id == user_id %}
                <button type='button' data-toggle="modal" data-target='#switch_ldap_authentication' class='btn btn-primary btn-sm' id='#show_switching_ldap_modal'>
                  AirOne の認証方法を LDAP に変更する
                </button>
              {% endif %}
            {% else %}
              <p>LDAP 認証</p>
            {% endif %}
            </td>
          </tr>
        </table>
        {% csrf_token %}
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="switch_ldap_authentication" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-lg modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">LDAP への認証方法の変更</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body ">
        <p>AirOne の認証を LDAP のパスワードで行うことができます</p>
        <p class='text-danger font-weight-bold' id='modal_input_warning'></p>
        <p>
          <input type="password" class="form-control" id="ldap_user_password" placeholder="Enter password of {{ user_name }} for LDAP">
        </p>
        <p class='text-dark'>（注：ユーザ "{{ user_name }}" が LDAP に登録されていない場合は変更できません）</p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
        <button type="button" class="btn btn-success" id='post_changing_request'>変更</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
$('#edit-form').submit(function(){
  var username = $('input[name="name"]').val();

  HttpPost($(this)).done(function(data) {
    MessageBox.setNextOnLoadMessage(MessageBox.SUCCESS, `Success to update User "${username}"`);

    location.href = '/user/';
  }).fail(function(resp){
    MessageBox.error(resp.responseText);
  });

  return false;
});

$("#refresh_token").on('click', function() {
  $.ajax({
    type: 'PUT',
    url: "/api/v1/user/access_token",
    headers: {
      'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val(),
    },
  }).done(function(data){
    location.reload();
  });
});

/*
 * Sned request that try to change the way of authentication from local to LDAP of JCS
 */
 function event_change_auth_to_ldap(e) {
  // clear warning message which is shown previously
  $('#modal_input_warning').text('');

  $.ajax({
    type: 'POST',
    url: "/user/change_ldap_auth",
    data: JSON.stringify({'ldap_password': $('#ldap_user_password').val()}),
    headers: {
      'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val(),
    },
  }).done(function(data){
    MessageBox.setNextOnLoadMessage(MessageBox.SUCCESS, `認証方法を変更しました。以後 LDAP のアカウントで AirOne にログインできます。`);

    location.href = '/user/edit/{{ user_id }}';
  }).fail(function(data){
    $('#modal_input_warning').text(data.responseText);
  });
}

// event handlers when input is submitted
$("#post_changing_request").on('click', event_change_auth_to_ldap);
$("#ldap_user_password").keypress(function(e) {
  if(e.which == 13) {
    event_change_auth_to_ldap(e);
  }
});

// event handler when modal window is shown
$('#switch_ldap_authentication').on('show.bs.modal', function(e) {
  // clear previous input and warning message in advance
  $('#modal_input_warning').text('');
  $('#ldap_user_password').val('');
});

</script>
{% endblock %}

{% block head %}
<style type="text/css"><!--
#user_params table {
  table-layout: fixed;
}

#user_params tr th {
  width: 300px;
}

--></style>
{% endblock %}
