{% extends 'base.html' %}
{% block title %}{{ current_group_name }} - Edit Group{% endblock %}

{% block nav_sub_header %}
<div class="conatiner-fluid">
  <ul class="breadcrumb airone-breadcrumb">
    <li class="breadcrumb-item"><a href="/">TOP</a></li>
    <li class="breadcrumb-item"><a href="/group">グループ管理</a></li>
    <li class="breadcrumb-item">グループの編集</li>
  </ul>
</div>
{% endblock %}

{% block head %}
<style type="text/css"><!--
  {% include 'edit_group.css' %}
--></style>
{% endblock %}

{% block content %}
<script src="/static/js/bootstrap-treeview.js"></script>
<div class="container">
<form id="edit-form" name="edit-form" url='{{ submit_ref }}' method='post'>
  {% csrf_token %}
  <div class="form-row">
    <div class="form-group col-md-11">
      <label class="col-form-label">グループ名</label>
      <input type="text" name="name" class="form-control" id="group-name" value="{{ current_group_name }}"/>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-5">
      <label class="col-form-label">ユーザ管理</label>
      <select id="group" class="form-control">
        {% for group in groups %}
          {% if group.id == default_group_id %}
            <option value='airone-group-{{ group.id }}' selected="on">{{ group.name }}</option>
          {% else %}
            <option value='airone-group-{{ group.id }}'>{{ group.name }}</option>
          {% endif %}
        {% endfor %}
      </select>
      {% for group in groups %}
        {% if group.id == default_group_id %}
        <select multiple="on" class="listed_users form-control airone-group-{{ group.id }}" size="13">
        {% else %}
        <select multiple="on" class="listed_users form-control airone-group-{{ group.id }}" size="13" style="display:none;">
        {% endif %}

          {% for user in group.members %}
          <option value='{{ user.id }}'>{{ user.username }}</option>
          {% endfor %}
        </select>
      {% endfor %}
    </div>
    <div class="form-group col-md-1">
      <table style="height: 120%; margin:0 auto;">
        <tr>
          <td class="align-middle"><button type="button" class="align-middle form-control btn btn-secondary btn-sm" id='delete_users'>＜</button></td>
          <td class="align-middle"><button type="button" class="align-middle form-control btn btn-primary btn-sm" id='append_users'>＞</button></td>
        </tr>
      </table>
    </div>
    <div class="form-group col-md-5">
      <label class="col-form-label">グループに登録するユーザ</label>
      <select multiple="on" id="selected_users" class="form-control" size="15">
        {% for user in current_group_members %}
          <option value='{{ user.id }}'>{{ user.username }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-5">
      <input type="text" class="form-control" id="search_user" placeholder="ユーザ検索" />
    </div>
    <div class="form-group col-md-4">
    </div>
  </div>

  <!-- Input items for advanced guest settings -->
  <div class='config_advance'>
    <div class="row toggle">
      <div class="col-12">
        <h6 href='#collapseConfigureParentGroup' data-toggle='collapse' aria-expanded="false">
          Select parent group (Optional)
        </h6>
      </div>
    </div>

    <div class='collapse' id='collapseConfigureParentGroup'>
      <div class="row">
        <div class="col-6">

          <!-- Command to run on creating VM -->
          <div id='groupTree'>
        </div>
      </div>
    </div>
  </div>

  {% if 'create' in submit_ref %}
    <button type="submit" class="btn btn-primary">作成</button>
  {% else %}
    <button type="submit" class="btn btn-primary">更新</button>
  {% endif %}

  <input type='hidden' name="parent_group" value="0" />
</form>
</div>

{% endblock %}

{% block script %}
<script>
$('#edit-form').submit(function(){
  var selected_users = [];
  $('#selected_users option').each(function(i, elem) {
    selected_users.push($(elem).val());
  });

  HttpPost($(this), {'users': selected_users}).done(function(data) {
    MessageBox.setNextOnLoadMessage(MessageBox.SUCCESS, data.msg);

    location.href = '/group/';
  });

  return false;
});

/* ignore to submit when user input Enter key at text boxes in this form */
$('#edit-form').on('keypress', function(e) {
  if(e.code === 'Enter') {
    return false;
  }
});

$('#append_users').on('click', function() {
  var elem_selected_users = $('#selected_users');

  $(".listed_users").find(":selected").each(function(i, elem){
    if(elem_selected_users.find("option[value="+ $(elem).val() +"]").length == 0) {
      elem_selected_users.append($(elem).clone());
    }
  });
});

$('#delete_users').on('click', function() {
  $("#selected_users").find(":selected").each(function(i, elem){
    $(elem).remove();
  });
});

$('#search_user').keyup(function(e) {
  var input_str = $(this).val();
  $(".listed_users option").each(function(i, elem){
    if($(elem).text().indexOf(input_str) >= 0) {
      $(elem).show();
    } else {
      $(elem).hide();
    }
  });
});

$('#group').change(function() {
  var target_group = $(this).val();

  $('.listed_users').each(function(i, elem){
    if($(elem).hasClass(target_group)) {
      $(elem).show();
    } else {
      // clear all selected objects
      $(elem).val([]);
      $(elem).hide();
    }
  });
});

function convert_hierarchical_groups_to_tree_data(groups) {
  return groups.map(function(x) {
    children = convert_hierarchical_groups_to_tree_data(x.children);
    if (children.length > 0) {
      return {
        text: x.name,
        groupId: x.id,
        nodes: children,
      }
    } else {
      return {
        text: x.name,
        groupId: x.id,
      }
    }
  });
}

$(document).ready(function() {
  /* Initialize hierarchical group tree table */
  $.ajax({ type: 'GET',
    url: "/group/api/v1/tree",
    data: {},
    headers: {
      'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val()
    }
  }).done(function(groups) {
    $('#groupTree').treeview({
      data: convert_hierarchical_groups_to_tree_data(groups),
    });

    /* select configure parent node */
    const allNodes = $('#groupTree').treeview('getEnabled');
    allNodes.filter(g => g.groupId == {{ parent_group_id }}).forEach(function(group) {
      $('#groupTree').treeview('selectNode', group.nodeId);
    });

    /* disable current node */
    allNodes.filter(g => g.groupId == {{ default_group_id }}).forEach(function(group) {
      $('#groupTree').treeview('disableNode', group.nodeId);
    });

    /* initialize event handlers for bootstrap treeview */
    $('#groupTree').on('nodeSelected', function(e, data) {
      console.log('[onix/groupTree.nodeSelected(10)] ', data);
      $('#edit-form input[name="parent_group"]').val(data.groupId);
    });
    $('#groupTree').on('nodeUnselected', function(e, data) {
      console.log('[onix/groupTree.nodeUnselected(20)] ', data);
      $('#edit-form input[name="parent_group"]').val(0);
    });
  }).fail(function(data) {
    MessageBox.error(data.responseText);
  });
});


</script>
{% endblock %}
