{% if tab == 'show' %}
<div class="float-right">
  <input name="delete_entry" type="button" class="btn btn-danger" value='削除'></input>
</div>
{% endif %}

<ul class="nav nav-tabs">
  <li class="nav-item">

    {% if tab == 'show' %}
      <a class="nav-link active">表示</a>
    {% else %}
      <a class="nav-link" href='/entry/show/{{ entry.id }}/'>表示</a>
    {% endif %}

  </li>
  <li class="nav-item">

    {% if tab == 'edit' %}
      <a class="nav-link active">編集</a>
    {% else %}
      <a class="nav-link" href='/entry/edit/{{ entry.id }}/'>編集</a>
    {% endif %}

  </li>
  <li class="nav-item">

    {% if tab == 'refer' %}
      <a class="nav-link active">参照エントリ一覧</a>
    {% else %}
      <a class="nav-link" href='/entry/refer/{{ entry.id }}/'>参照エントリ一覧</a>
    {% endif %}

  </li>
  <li class="nav-item">

    {% if tab == 'history' %}
      <a class="nav-link active">変更履歴</a>
    {% else %}
      <a class="nav-link" href='/entry/history/{{ entry.id }}/'>変更履歴</a>
    {% endif %}

  </li>
  <li class="nav-item">

    {% if tab == 'copy' %}
      <a class="nav-link active">コピー</a>
    {% else %}
      <a class="nav-link" href='/entry/copy/{{ entry.id }}/'>コピー</a>
    {% endif %}

  </li>
  <li class="nav-item">

    {% if tab == 'acl' %}
      <a class="nav-link active">ACL設定</a>
    {% else %}
      <a class="nav-link" href='/entry/acl/{{ entry.id }}/'>ACL設定</a>
    {% endif %}

  </li>
</ul>
