{% extends 'base.html' %}

{% block title %}List Jobs{% endblock %}

{% block nav_sub_header %}
<div class="conatiner-fluid">
  <ul class="breadcrumb airone-breadcrumb">
    <li class="breadcrumb-item"><a href="/">TOP</a></li>
    <li class="breadcrumb-item">ジョブ一覧</li>
  </ul>
</div>
{% endblock %}

{% block content %}
{% csrf_token %}
{% load calculator %}
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="float-left">
        <button name="button_new" type="button" class="btn btn-primary" onclick="location.href='?nolimit=1'">全件表示</button>
      </div>
      <div class="float-right">
      </div>
    </div>
  </div>

  <p/>
  <div class="row">
    <div class="col">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>対象エントリ</th>
            <th>操作</th>
            <th>状況</th>
            <th>実行時間</th>
            <th>実行日時</th>
            <th>備考</th>
            <th></th>
          </tr>
        </thead>
        <tbody id='entry_container'>
          {% for job in jobs %}
          <tr>
            <!-- set target ACLbase object -->
            {% if job.operation|divmod:100 == JOB.OPERATION.EXPORT %}
              {% if job.target %}
              <td><a href='/entry/{{ job.target.id }}/'>{{ job.target.name }}</a></td>
              {% else %}
              <td></td>
              {% endif %}
            {% elif job.operation|divmod:100 == JOB.OPERATION.IMPORT %}
              <td><a href='/entry/{{ job.target.id }}/'>{{ job.target.name }}</a></td>
            {% elif job.operation|divmod:100 == JOB.OPERATION.CREATE_ENTITY %}
              <td><a href='/entry/{{ job.target.id }}/'>{{ job.target.name }}</a></td>
            {% elif job.operation|divmod:100 == JOB.OPERATION.EDIT_ENTITY %}
              <td><a href='/entry/{{ job.target.id }}/'>{{ job.target.name }}</a></td>
            {% elif job.operation|divmod:100 == JOB.OPERATION.DELETE_ENTITY %}
              <td>{{ job.target.name }}</td>
            {% else %}
              <td><a href='/entry/show/{{ job.target.id }}/'>{{ job.target.name }}</a></td>
            {% endif %}

            <!-- set operation
              Note: what divmod:100 means.

              The custom filter "divmod" simply get result of (dividend % divisor).
              The reason why following processing compares the result of this calculation is
              considering to the customized operation-type which might be defined in CustomView.

              When an user who develops Custom View defines custom operation type, it might be
              required to be handled as a basic one. In this case, user could declare it with an
              identifier which is greater than 100 (A hundred could be enough number to be able to
              identify basic operation types).
            -->
            <td>
            {% if job.operation|divmod:100 == JOB.OPERATION.CREATE %}
              作成
            {% elif job.operation|divmod:100 == JOB.OPERATION.EDIT %}
              編集
            {% elif job.operation|divmod:100 == JOB.OPERATION.DELETE %}
              削除
            {% elif job.operation|divmod:100 == JOB.OPERATION.COPY %}
              コピー
            {% elif job.operation|divmod:100 == JOB.OPERATION.IMPORT %}
              インポート
            {% elif job.operation|divmod:100 == JOB.OPERATION.EXPORT %}
              エクスポート
            {% elif job.operation|divmod:100 == JOB.OPERATION.EXPORT_SEARCH_RESULT %}
              エクスポート
            {% elif job.operation|divmod:100 == JOB.OPERATION.RESTORE %}
              復旧
            {% elif job.operation|divmod:100 == JOB.OPERATION.CREATE_ENTITY %}
              作成
            {% elif job.operation|divmod:100 == JOB.OPERATION.EDIT_ENTITY %}
              編集
            {% elif job.operation|divmod:100 == JOB.OPERATION.DELETE_ENTITY %}
              削除
            {% endif %}
            </td>

            <!-- set status -->
            {% if job.status == JOB.STATUS.PROCESSING %}
            <td class='table-warning'>処理中</td>
            {% elif job.status == JOB.STATUS.PREPARING %}
            <td class='table-warning'>処理前</td>
            {% elif job.status == JOB.STATUS.DONE %}
            <td class='table-success'>完了</td>
            {% elif job.status == JOB.STATUS.ERROR %}
            <td class='table-danger'>エラー</td>
            {% elif job.status == JOB.STATUS.TIMEOUT %}
            <td class='table-danger'>タイムアウト</td>
            {% elif job.status == JOB.STATUS.CANCELED %}
            <td class='table-success'>キャンセル</td>
            {% else %}
            <td></td>
            {% endif %}
            </td>

            <!-- set time -->
            <td>{{ job.passed_time }} s</td>

            <!-- set created_time -->
            <td>{{ job.created_at }}</td>

            <!-- set text -->
            {% if job.operation|divmod:100 == JOB.OPERATION.EXPORT %}
              {% if job.status == JOB.STATUS.DONE %}
              <td><a href='/job/download/{{ job.id }}'>Download</td>
              {% else %}
              <td></td>
              {% endif %}
            {% elif job.operation|divmod:100 == JOB.OPERATION.EXPORT_SEARCH_RESULT %}
              {% if job.status == JOB.STATUS.DONE %}
              <td><a href='/job/download/{{ job.id }}'>Download</td>
              {% else %}
              <td></td>
              {% endif %}
            {% else %}
              <td>{{ job.text | linebreaksbr }}</td>
            {% endif %}

            <!-- set re-run button if it's under executing -->
            <td>
              {% if job.status != JOB.STATUS.DONE and job.status != JOB.STATUS.PROCESSING and job.status != JOB.STATUS.CANCELED %}
              <p><button type='button' class='btn btn-info btn-sm rerun-job' value='{{ job.id }}'>Re-run</button></p>
              {% endif %}

              {% if job.status != JOB.STATUS.DONE and job.status != JOB.STATUS.CANCELED %}
              <p><button type='button' class='btn btn-danger btn-sm cancel-job' value='{{ job.id }}'>Cancel</button></p>
              {% endif %}
            </td>

          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
$(document).ready(function() {

  $('.rerun-job').on('click', function(e) {
    $(this).prop("disabled", true);

    $.ajax({
      type: 'POST',
      url: `/api/v1/job/run/${$(this).val()}`,
    }).done(function(data) {
      location.reload();
    }).fail(function(data) {
      MessageBox.error(data);
    });
  });

  $('.cancel-job').on('click', function(e) {
    if(window.confirm('ジョブをキャンセルしますか？')) {
      $.ajax({
        type: 'DELETE',
        url: "/api/v1/job/",
        data: {
          job_id: $(this).val()
        },
      }).done(function(data) {
        location.reload();
      }).fail(function(data) {
        MessageBox.error(data);
      });
    }
  });
});
</script>
{% endblock %}
