<div class='dropdown nav_menu_item' id="nav_menu_job">
  <img src='/static/images/jobs.png' class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  </img>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <img class='dropdown-item job-loading' src='http://kuraline.jp/read/content/images/common/loading.gif'></img>

    <div class='job-container'>
    </div>

    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="/job/">ジョブ一覧</a>
  </div>
</div>
