<div class='dropdown nav_menu_item' id="nav_menu_user">
  <img src='/static/images/user_icon.png' class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" />
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="/user/edit/{{ user.id }}">ユーザ設定</a>
    <div class="dropdown-divider"></div>
    <form name="logout" method="post" action="{% url 'logout' %}">
      {% csrf_token %}
      <a class="dropdown-item" href="javascript:logout.submit()">ログアウト</a>
    </form>
  </div>
</div>
