<html>
<head>
<!-- custom script head -->
{% include 'custom_view/custom_script_head.html' %}
</head>
<body>
<!-- custom script body -->
{% include 'custom_view/custom_script_body.html' %}
<h2>Password reset</h2>
<p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should
    receive them shortly.</p>
<p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam
    folder.</p>
</body>
</html>