{% extends 'base.html' %}

{% block title %}Edit Entity{% endblock %}

{% block nav_sub_header %}
  {% with "edit_entity" as path %}
  {% include 'navigation.html' %}
  {% endwith %}
{% endblock %}

{% block head %}
<style type="text/css"><!--

input[name="button_save"] {
  margin: 10px 0px;
}

.setting-row {
  margin: 0px 0px 0px 3px;
}

.vcenter-item {
  display: flex;
  align-items: center;
}

.setting-content {
  padding: 10px;
}

.padding-right {
  padding: 0px 10px 0px 0px;
}

--></style>
{% endblock %}

{% block content %}
{% csrf_token %}
{% load bitwise_tags %}

<div class="container-fluid">
  {% include 'entity_edit_tab.html' with tab='settings' %}
</div>

<div class='tab-content'>
  <div class="container-fluid">

    <div class="row">
      <div class="col">
        <div class="float-right">
          <input name="button_save" type="submit" class="btn btn-primary" id='save_settings' value='保存'></input>
        </div>
      </div>
    </div>

    <div class="row border setting-row">
      <div class="col-2 border rounded-left vcenter-item">
        <h5>Notifications</h5>
      </div>
      <div class="col-10 border rounded-right setting-content">
        <h5>Webhook URL</h5>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <span class='text-secondary padding-right'>有効化</span>
              {% if is_enabled_webhook %}
              <input type="checkbox" id='is_enabled_webhook' checked/>
              {% else %}
              <input type="checkbox" id='is_enabled_webhook'/>
              {% endif %}
            </div>
          </div>
          <input type="text" class="form-control" id='webhook_url' value='{{ webhook_url }}'/>
        </div>

        <p class='text-secondary small'>
          エントリを作成、編集、削除した際に、記載した URL に対して POST リクエストメッセージを送信します。
        </p>

        <h6>Additional Headers</h6>

        <div id='header-lines'>
          {% for key, value in webhook_headers.items %}
          <div class="input-group mb-3 header-info">
            <input type="text" class="form-control header-key" placeholder='key' value='{{ key }}' />
            <input type="text" class="form-control header-value" placeholder='vlaue' value='{{ value }}'/>
            <div class="input-group-append">
              <button class="btn btn-outline-danger delete-header-info" type="button">-</button>
            </div>
          </div>
          {% endfor %}
        </div>

        <div class="float-right">
          <button type='button' id='add-header-info' class='btn btn-primary' id='add-header-info'>+</button>
        </div>

        <p class='text-secondary small'>
          ここで入力した情報を、リクエストのヘッダ情報に付加します。
        </p>

      </div>
    </div>
    <!-- end of setting-row -->

  </div>
  <!-- end of container-fluid -->

</div>
<!-- end of tab-content -->
{% endblock %}

{% block script %}
<script>

var save_settings = function(e){
  // collect header lines
  var header_lines = Array();
  $('.header-info').each(function(i, elem) {
    let key = $(elem).find('.header-key').val();

    if (key) {
      header_lines.push({
        key: key,
        value: $(elem).find('.header-value').val(),
      });
    }
  });

  $.ajax({
    type: 'POST',
    url: "/entity/api/v1/settings/{{ entity.id }}",
    data: JSON.stringify({
      'webhook_url': $('#webhook_url').val(),
      'request_headers': header_lines,
      'is_enabled_webhook': $('#is_enabled_webhook').is(':checked'),
    }),
    headers: {
      'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val()
    }
  }).done(function(data) {
    MessageBox.setNextOnLoadMessage(MessageBox.SUCCESS, "Success to change settings of ({{ entity.name }})");

    location.href = '/entry/{{ entity.id }}';
  }).fail(function(data) {
    MessageBox.error(data.responseText);
  });
}

var add_header_info = function(e) {
  var template = $(
    `<div class="input-group mb-3 header-info">` +
      `<input type="text" class="form-control header-key" placeholder='key'/>` +
      `<input type="text" class="form-control header-value" placeholder='vlaue'/>` +
      `<div class="input-group-append">` +
        `<button class="btn btn-outline-danger delete-header-info" type="button">-</button>` +
      `</div>` +
    `</div>`);

  // register event handler of adding element
  template.find('.delete-header-info').on('click', delete_header_info);

  $('#header-lines').append(template);
}

var delete_header_info = function(e) {
  console.log('[onix/delete_header_info(00)]');

  $(e.target).closest('.header-info').remove();
}

$(document).ready(function() {
  $('#save_settings').on('click', save_settings);
  $('#add-header-info').on('click', add_header_info);
  $('.delete-header-info').on('click', delete_header_info);
});
</script>
{% endblock %}
