{% extends 'base.html' %}

{% block title %}{{ entry.name }} - Show Entry's History{% endblock %}


{% block nav_sub_header %}
{% include 'navigation.html' with object=entry %}
{% endblock %}

{% block content %}

<div class="container-fluid">
  {% include 'entry_tab.html' with tab='history' %}

  <div class="tab-content">
  {% include 'show_entry/change_history.html' %}
  </div>
</div>
{% csrf_token %}
{% endblock %}

{% block script %}
  {% include 'show_entry/js_history.html' %}
{% endblock %}
