<div class="row">
  <div class="col">
    <div class="float-left">
      <button name="button_new" type="button" class="btn btn-primary" onclick="location.href='/entity/create'">新規作成</button>
      <button name="button_export" type="button" class="btn btn-secondary" onclick="location.href='/entity/export/'">エクスポート</button>
      <button name="button_import" type="button" class="btn btn-secondary" onclick="location.href='/dashboard/import/'">インポート</button>
    </div>
    <div class="float-right">
    </div>
  </div>

  <div class="col">
    <div class="float-right">
      100 / 100
      <button type="button" class="btn btn-sm btn-primary" disabled>＜</button>
      <button type="button" class="btn btn-sm btn-primary" disabled>＞</button>
    </div>
  </div>
</div>
